*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
}

.box {
    overflow: auto;
    text-align: bottom;
    width: 500px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border: 2px solid blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}


