*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}

header{
    color: aqua;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

section{
    width: 100%;
    height: calc(100vh - 200px);
    background-color: rgb(139, 18, 139);
    background-repeat:no-repeat ;
    background-size: 100% 100%;
   background-position: center center;   
   background-attachment: fixed ;
}

.section-1{

}
.section-2{

}
.section-3{

}
.section-4{

}

.section-5{

}
.section-6{

}