button[type='submit']{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
button[type='reset']{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}