
.card{
height: 250px;
width: 300px;

display: flex;

text-align: center;
}
.card-1{
background-color: blueviolet;

}
.card-2{
    background-color: aqua;
    /* visibility: hidden; */
}
.card-3{
 background-color: yellowgreen;   
}